.form-group{
    padding: 1px;
    margin: 1px;
    
}
table{
    border-collapse: collapse;
    
    border-color: rgba(37, 177, 37, 0.582);
    
}
tr td{
    box-align: center;
}
th{
    font-variant: small-caps;
    font-weight: 1100;
    color: white;
    background-color: rgb(55, 194, 55);
}
.black{
    color: black;
    background-color: #99FF66;
}
.red{
    color: red;
}
body{
    padding: 1px;
    margin: 1px;
}